<!-- <div class="container">
    <mat-spinner *ngIf="progress"></mat-spinner>

    <mat-card>
        <mat-card-header color="primary">
            <span>New Order</span>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="add()">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Item</mat-label>
                            <mat-select [(value)]="selected" formControlName="menuItem">
                                <mat-option value="Choose">Choose one Item</mat-option>
                                <mat-option *ngFor="let men of menu" value="{{men.item}}">{{men.item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>User</mat-label>
                            <input matInput type="text" formControlName="user">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Number of Items</mat-label>
                            <input matInput placeholder="number of items" type="number" min="1" formControlName="amount">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Payments</mat-label>
                            <mat-select selected formControlName="payment">
                                <mat-option value="Chose">Choose one Payment Method</mat-option>
                                <mat-option *ngFor="let pay of payMethods" value="{{pay.name}}">{{pay.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="accent" [disabled]="myForm.invalid">Add Order</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div> -->