<mat-toolbar color="primary">
    <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item>
        <mat-icon routerLink="">home</mat-icon>
        <span>Home</span>
    </button>
    <button mat-menu-item (click)="openDialogRegister()">
        <mat-icon>how_to_reg</mat-icon>
        <span>register</span>
      </button>
    <button mat-menu-item (click)="openDialog()">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>
    </span>
    <span class="fill-remaining-space">Cafe management System</span>
</mat-toolbar>