<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button mat-raised-button class="BackColor" (click)="addProduct()"><mat-icon>add</mat-icon> Add Product</button>
        </div>
    </div>
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <mat-spinner *ngIf="progress"></mat-spinner>
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element"> {{element.item}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle (click)="onToggle(element.id)" [checked]="element.status" class="example-margin mx-2" color="success" [checked]="element.status" [disabled]="false">
                    </mat-slide-toggle>
                    <mat-icon color="primary" (click)="editMenu(element)">edit</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>